<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css">
        <title> Login </title>         

    </head>

    <body style=" background-color: #eceff1">
      <div class="top-bar p-3 mb-2 bg-dark" style="margin-bottom: 30px !important">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/register"> Register </a>
          </li>
        </ul>
      </div>   

        <div class="container" style="width: 400px;">
         
              <div class="card shadow-lg">
                <h5 style="text-align: center;" class="card-header">Login</h5>
                <div class="p-4">  

                    <form id="form" action="/user/login" method="POST">
                      <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input required type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input required type="password" name="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
                  </form>
                  
                </div>
            </div>
        </div>
        <p id="validationmsg">

        </p>    
    
    <footer class="mt-5 bg-dark navbar fixed-bottom" style="height: 50px; background-color:blueviolet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </footer >

  </body>
</html>